<section class="flex flex-col h-screen">
  <!-- NAVBAR -->
  <nav class="bg-neutral-primary border-b border-slate-400">
    <app-tob-bar (toogleSidebarEmit)="toggleSidebar()">
    </app-tob-bar>
  </nav>

  <!-- BODY -->
  <div class="flex-1 overflow-hidden relative z-1">
    <aside
      class="

        absolute top-0 left-0 z-20
        h-full w-72
        border-r
        border-slate-400
        bg-white
        shadow-lg md:shadow-none
        transform
        transition-transform duration-300 ease-in-out
      "
      [class.-translate-x-full]="!sidebarOpen()"
      [class.lg:-translate-x-[90%]]="!sidebarOpen()"
      [class.translate-x-0]="sidebarOpen()"
    >

      <button 
        class="w-10 h-10 
        hidden
        lg:block
        cursor-pointer 
        rounded-full
        bg-white
        border border-black 
        p-2 absolute -right-5 top-6 z-20"
        (click)="toggleSidebar()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 bg-white" viewBox="0 0 24 24">
          <path fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>

      <div class="p-8 h-full flex flex-col">
        <nav class="flex-1 space-y-2">
          @for (category of categories(); track category.id) {
          <button
            class="w-full flex hover:bg-brand-lime/20 hover:text-brand-blue items-center gap-3 px-4 py-3 rounded-xl transition-all duration-200 text-sm"
            [routerLink]="[category.url]" routerLinkActive="!bg-brand-blue !text-white"
            [routerLinkActiveOptions]="{exact:true}">
            <span>
              <i class="{{category.icon}}"></i>
            </span>
            {{category.name}}
          </button>
          }
        </nav>

        <div class="border-t border-gray-100">
          <div class="bg-[#d2ec3d] p-4 rounded-xl relative overflow-hidden group cursor-pointer">
            <div class="relative z-10">
              <p class="text-brand-blue  font-bold text-sm mb-1">¿Quieres publicar?</p>
              <p class="text-brand-blue text-xs mb-3">Envía tu investigación o artículo.</p>
              <button class="text-xs font-bold bg-white text-brand-blue  px-3 py-1.5 rounded-lg shadow-sm">
                Ver Guía
              </button>
            </div>
            <div
              class="absolute -right-4 -bottom-4 w-20 h-20 bg-white/30 rounded-full group-hover:scale-110 transition-transform">
            </div>
          </div>
        </div>
      </div>
    </aside>

    <div
      class="
        h-full
        absolute top-0 left-0 right-0 bottom-0 z-10
        flex flex-row justify-center gap-4
        overflow-y-auto
        py-4 px-4 md:px-12 lg:px-16
        mb-6
        transition transition-all duration-300 ease-in-out
      "
      [class.ml-0]="!sidebarOpen()"
      [class.lg:ml-72]="sidebarOpen()"
      >

      <main class="w-full max-w-screen-lg">
        <router-outlet></router-outlet>
      </main>

      <div class="right-sidebar hidden xl:block min-w-0 w-[400px] h-36 bg-slate-300 sticky -top-3 rounded-lg">
        <aside>

        </aside>
      </div>
    </div>
  </div>
</section>
