<article class="md:col-span-2">
    <div class="bg-white border border-slate-200 flex flex-col md:flex-row min-h-[200px] rounded-md overflow-hidden">
        <div class="bg-brand-slate text-white p-8 md:w-1/3 flex flex-col justify-between">
            <div>
                <app-icon [name]="publication().category" class="w-16 h-16 block"></app-icon>
                <h3 class="text-xl font-serif italic mb-2">Resumen de introducción</h3>
                <p class="text-xs text-slate-400 leading-loose">
                    {{publication().summary}}
                </p>
            </div>
            <div class="mt-8">
                <span class="text-[10px] tracking-widest text-slate-500 block mb-1">CORRESPONDING AUTHOR</span>
                <span class="text-xs font-medium">e.vance@physics.edu</span>
            </div>
        </div>
        <div class="p-8 md:w-2/3 flex flex-col justify-center">
            <span class="text-[12px] font-bold text-blue-600 mb-2 tracking-widest uppercase">Advanced Physics
                Quarterly</span>
            <h3 class="text-3xl font-light text-slate-800 mb-4 leading-tight">
                {{publication().title}}
            </h3>
            <div class="flex flex-wrap gap-y-4 gap-x-12 mt-4">
                <div class="flex items-center gap-3">
                    <div class="p-2 bg-slate-100 rounded-lg"> <app-icon name="user" class="w-8 h-8 block"></app-icon>
                    </div>
                    <div>
                        <p class="text-[10px] text-slate-400 uppercase font-bold">Autor</p>
                        <p class="text-sm font-medium">{{publication().author}}</p>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div class="p-2 bg-slate-100 rounded-lg flex">
                        <app-icon name="calendar" class="w-8! h-8!"></app-icon>
                    </div>
                    <div>
                        <p class="text-[10px] text-slate-400 uppercase font-bold">Publicación</p>
                        <p class="text-sm font-medium">{{publication().date}}</p>
                    </div>
                </div>
            </div>
            <div class="mt-10 flex gap-4">
                <a href="#"
                    class="px-6 py-2 bg-slate-900 text-white text-xs font-bold tracking-widest uppercase hover:bg-slate-800 transition-all">
                    Leer Artículo
                </a>
                <button
                    class="px-6 py-2 border border-slate-200 text-slate-600 text-xs font-bold tracking-widest uppercase hover:bg-slate-50 transition-all">
                    Exportar cita
                </button>
            </div>
        </div>
    </div>
</article>