@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-brand-blue: #244ef7;
    --color-brand-lime: #d5ee3c;
    --font-sans: "Inter", sans-serif;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
    overflow-x: hidden;
}
