@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-brand-slate: #0f172b;
    --color-brand-blue: #244ef7;
    --color-brand-lime: #d5ee3c;
    --color-brand-light: #fbfcff;
    --font-sans: "Inter", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
}