@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-brand-blue: #244ef7;
    --color-brand-lime: #d5ee3c;
    --font-sans: "Inter", sans-serif;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
    overflow-x: hidden;
}

.hero-gradient {
    background: radial-gradient(circle at top right, rgba(213, 238, 60, 0.15), transparent 40%),
        radial-gradient(circle at bottom left, rgba(36, 78, 247, 0.05), transparent 40%);
}

.floating {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}