<section class="w-full mx-auto px-2">
  <header class="w-full flex flex-row flex-wrap items-center justify-between p-4 mx-auto border-b border-slate-300">
    <div class="w-1/2">
      <div class="bg-brand-blue w-10 h-10 text-white flex items-center justify-center text-xl font-bold rounded-lg">
      S
      </div>
    </div>
    <div class="w-1/2 bg-red h-10 flex items-center justify-end gap-4">
      <button class="px-4 py-2 rounded-lg font-semibold cursor-pointer text-black border border-slate-300 border-sm">Vista previa</button>
      <button class="bg-brand-blue px-4 py-2 rounded-lg font-semibold cursor-pointer text-white">Guardar</button>
      <button class="bg-brand-lime px-4 py-2 rounded-lg font-semibold cursor-pointer text-balck">Publicar</button>
    </div>
  </header>

  <div class="flex justify-between gap-4 py-4">
    <div class="w-2/3">
      <editor-component></editor-component>
    </div>
    <div class="w-1/3"></div>
  </div>
</section>